.header{
    &__container{
        max-width: 600px;
        margin-top: 30px;
        align-items: center;
        @include h-property();
        @include d-flex(column, space-between, center, 0, 20px);
        margin-bottom: 30px;
    a{
        color: #000;
        &:hover{
            border-bottom: 1px solid black;
            transform: 0.3s;
        }
    }
    }
    &__list{
        @include d-flex(row, space-between, center, 0, 30px);
    }
    &__mob{
        display: none;
    }
}